h2{
  font-size: 32px;
  font-weight: bold;
  display: inline;
}

span {
  font-size: 24px;
  padding-left: 16px;
  font-weight: bold;
  color: #A00404;
}

p {
  font-size: 24px;
  line-height: 36px;
  margin-bottom: 24px;
}

ul {
  border-left: 1px solid #96A9C4;
}

ul li {
  padding-left: 24px;
  font-size: 24px;
}