.grayBg {
  background-color: #415165;
  color:#fff;
}

.grayContent {
  width: 996px;
  margin: 0 auto;
  padding-bottom: 20px;
}

.grayContent .title {
  border-bottom: 1px solid #fff;
  justify-content: center;
  padding-top: 30px;
  margin-bottom: 37px;
}

.grayContent span {
  color: #fff;
}

.skill ul {
  margin-left: 390px;
}

.skill ul li{
  margin-bottom: 16px;
}

.experience {
  margin-left: 24px;
}

.experience li {
  width: 630px;
  margin-bottom: 24px;
}

.experience img {
  width: 90px;
  height: 90px;
}

small {
  font-size: 20px;
}